<div class="container">
  <h2>Reporte de Ventas de Productos</h2>
  
  <div *ngIf="productosReporte.length > 0">
    <div class="chart-container">
      <canvas baseChart
              [datasets]="barChartData.datasets"
              [labels]="barChartData.labels"
              [options]="barChartOptions"
              [chartType]="'bar'">
      </canvas>
    </div>
  </div>
  <div *ngIf="productosReporte.length === 0">
    <p>No se han encontrado productos para mostrar en el reporte.</p>
  </div>
</div>
